.blog{
    margin: 30px 0px;
    padding: 20px 0px;
    
    .case{
        // min-height: 400px;
            .tittle{
                .t-ittle{
                    font-weight: 700;
                    font-size: 20px;

                }
            }
        .w-rapp{
            margin:20px 0px;
            .item{
                padding: 0px 15px;
                .outer{
                    .img{
                        img{
                            width:100%;
                        }
                    }
                    .in{
                        .details{
                            margin: 5px 0px;
                            font-size: 14px;


                        }
                        .topic{
                            display: block;
                            margin-bottom: 5px;
                            color: black;
                            font-weight:600;
                            font-size: 16px;
                        }
                        .c-bt{
                            color: $color1;
                            // display: block;
                            font-size: 12px;
                            font-weight: 600;
                             &:hover{
                                i{
                                    transition: all ease .2s    ;
                                    transform: translateX(5px);
                                }
                            }
                            .fa{
                                margin-left: 6px;
                            }
                           
                        }
                    }
                }
            }
        }
    }
}

